<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
        <section>
            <form action="/users/register" method="POST">
                <div class="register">
                    <label for="email" class="label">Email:</label>
                    <input id="email" type="email" name="email" placeholder="Ingrese su Email" value="">
                    <label for="name" class="label">Usuario: </label>
                    <input id="name" type="text" name="name" placeholder="Ingrese su nombre" value="">
                    <label for="pasword" class="label">Contraseña:</label>
                    <input id="password" type="password" name="password" placeholder="Ingrese su contraseña" value="">
                    <button class="submit" type="submit">Registrarse</button>
                </div>
            </form>
        </section>
        </div>
    </div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>